<div class="education">
    <a href={{education.collegeLink}}>
          <div class="row no-gutters">
              <div class="col-auto mr-3">
                  <img src={{education.file}}/>
              </div>
              <div class="col">
                <div class="row ">
                  <div class="col">
                    <strong>{{education.collegeName}}</strong>
                  </div>
                </div>
                <div class="row ">
                  <div class="col">
                    {{education.degreeType}}
                  </div>
                </div>
                <div class="row ">
                  <div class="col date">
                    {{education.date}}
                  </div>
                </div>
              </div>
          </div>
        </a>
  </div>

