<div class="footer">

    <h2 class="title">Get In Touch.</h2>

    <a class="btn btn-info btn-lg" href={{contact.email}}>CONTACT ME</a>

    <div class="row">
        <div class="col-auto">  
            <a class="footer-link" href={{contact.github}}>
                <i class="fa fa-github "></i> <br>GitHub
            </a>
        </div>

        <div class="col-auto">
            <a class="footer-link" href={{contact.linkedIn}}>
                <i class="fa fa-linkedin "></i> <br>LinkedIn
            </a>
        </div>
    </div>
</div>
