.aboutme-body  {
text-align: center;

}

.background-img {
   width:100%;
   position: absolute;
   right: 0;
}

.subtitle {
    color: #c7c7c7;
    font-size: 3rem;
    font-family: "sacramento", cursive;
    font-weight: bold;
}

.eduexperience {
  background-color: #454647;
  margin-left: 3rem;
  margin-right: 3rem;
}

.education, experience {
   padding-top: 5rem;
    margin-bottom: 5rem;
}


hr {
    width:12rem;
    margin:0 auto;
}

.experience {
    padding-bottom: 8rem;
}

@media all and (max-width: 430px) {

  .aboutme-body {
    font-size: 12px;
  }
}
