
<div class="aboutme-body ">
    <app-header></app-header>
    <app-aboutme></app-aboutme>

    <div class="eduexperience ">
      <div class="education container">
        <h2 class="subtitle">Education</h2>
        <hr class="mb-5"/>
        <div  *ngFor="let education of educationArray">
              <app-education [education]="education"></app-education>
              <br/>
              <br/>
        </div>
      </div>

      <div class="experience container">
        <h2 class="subtitle ">Experience</h2>
        <hr class="mb-5"/>
        <div  *ngFor="let experience of experienceArray">
          <app-experience [experience]="experience"></app-experience>
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
