.copyright{
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #348498;
    color: white;
    text-align: center;
    font-size: 75%;
}

.text{
    margin-bottom: 0;
   font-family: sans-serif;
}