<div class="experience ">
    <a href={{experience.link}}>
          <div class="row no-gutters">
              <div class="col-auto mr-3">
                  <img src={{experience.file}} />
              </div>
              <div class="col">
                <div class="row ">
                  <div class="col">
                    <strong>{{experience.role}}</strong>
                  </div>
                </div>
                <div class="row ">
                  <div class="col">
                    {{experience.company}}
                  </div>
                </div>
                <div class="row ">
                  <div class="col date">
                    {{experience.date}}
                  </div>
                </div>
                <div class="row ">
                    <div class="col date">
                      {{experience.city}}
                    </div>
                  </div>
              </div>
          </div>
        </a>
  </div>
