<div class="experience ">
    <a href={{experience.link}}>
          <div class="row no-gutters">
            <div class="col  mr-3">
              <div class="row ">
                <div class="col">
                  <strong>{{experience.role}}</strong>
                </div>
              </div>
              <div class="row ">
                <div class="col">
                  {{experience.company}}
                </div>
              </div>
              <div class="row ">
                <div class="col date">
                  {{experience.date}}
                </div>
              </div>
              <div class="row ">
                  <div class="col date">
                    {{experience.city}}
                  </div>
                </div>
            </div>
              <div class="col-auto">
                  <img src={{experience.file}} />
              </div>
          </div>
        </a>
  </div>
