.project {
    text-align: center;
    background-color: #999997;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.title {

   font-family: Montserrat-Regular;
   padding-bottom: 5rem;
   font-size: 2.5rem;

}


.project-item{
  margin-bottom: 3rem;
}
