.image{
    height: auto;
    width: 100%;
}

.title-btn{
    font-family:  MerriWeather-Bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}

.description{
    font-family:  MerriWeather-Regular;
}

img{
width: 100%;
height: auto;
}

ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 100%;
 }
  
  ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  } 