
.title-btn{
    font-family:  MerriWeather-Bold;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}

.description{
    font-family:  MerriWeather-Regular;
}

img{
width: 100%;
height: 100%;
}
.carousel-indicators li { visibility: hidden; }


  
 